{% extends 'LeadTracker/base.html' %} 

{% load crispy_forms_tags %}

{% block content %}

<body class="bg-light">
  <div class="container bg-light shadow-sm form-layout">
    <h3>Create your account</h3>

    <h5>Start managing your clients today!</h5>

    <hr />
    <br />

    <form action="" method="POST" autocomplete="off">
      {% csrf_token %} 
      
     {{ form|crispy }}

      <br />
      <button type="submit" class="btn btn-dark w-100 p-2">
        Create Account
      </button>
    </form>

    <div class="text-center">
      <br />
      <p>Already have an account? <a href="{% url 'register' %}"> Login </a></p>
    </div>
  </div>
  <br />
</body>
{% endblock %}
